<head>
	<meta charset="utf-8">
	<title>Node Red</title>
</head>
<body>
	<div>
			<!-- Page Header -->
			<div class="content bg-gray-lighter" style="background-image: url('assets/img/photos/photo3@2x.jpg');">
				<div class="row items-push">
					<div class="col-sm-7">
						<h1 class="page-heading animated fadeIn text-white">
							<i class="si si-share"></i> Node <span style="font-weight: 200 !important">Red</span></h1>

						</div>
						<div class="col-sm-5 text-right hidden-xs"> 
							<a class="btn btn-minw btn-square btn-default" type="button" ng-click="reload()">Refresh</a>
						</div>
					</div>
				</div>
				<!-- END Page Header -->
<!-- END Page Header -->

<!-- Page Content -->
		 <!-- Page Content -->
                <div class="content">
                    <!-- Timelines Row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="block block-themed"  id="notificationtable">
                                <div class="block-header bg-primary">
                                    <ul class="block-options">
                                        <li>
                                <button type="button" data-js-block-option data-action="fullscreen_toggle"></button>
                            </li>
                            <!-- <li>
                                <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                            </li> -->
                            <!-- <li>
                                <button type="button" ng-click="panelLoading()"><i class="si si-refresh"></i></button>
                            </li> -->
                            <!-- <li>
                                <button type="button" data-js-block-option data-action="content_toggle"></button>
                            </li> -->
                                    </ul>
                                    <h3 class="block-title">Node red Dashboard</h3>
                                </div>
                                <div class="block-content">
                                	<iframe src="https://node-red.tiosplatform.com:1080" width="100%" height="700px">
						                <p>Your browser does not support iframes.</p>
						            </iframe>
                                   
                                </div>
                            </div>
                            <!-- END Icon Based -->
                        </div>
                        
                    </div>
                    <!-- END Timelines Row -->
                </div>
                <!-- END Page Content -->
<!-- END Page Content -->    
</div>
</body>