
<head>
	<meta charset="utf-8">
	<title>Organization Dashboards</title>
</head>
<body>
	<div>
		<!-- Main Container -->
		<main id="content">
			<!-- Page Header -->
			<!-- Page Header -->
			<div class="content bg-gray-lighter" style="background-image: url('assets/img/photos/photo3@2x.jpg');">
				<div class="row items-push">
					<div class="col-sm-7">
						<h1 class="page-heading animated fadeIn text-white">
							<i class="si si-speedometer"></i> {{loggeduser.user.organization_name}} <span style="font-weight: 200 !important">Dashboards</span></h1>

						</div>
						<div class="col-sm-5 text-right hidden-xs"> 
							<a class="btn btn-minw btn-square btn-default" type="button" ng-click="reload()">Refresh</a>
							<!-- <a user-role="['super']" class="btn btn-minw btn-square btn-primary" type="button" href="#/organization/add">+ Add Organization</a> -->
						</div>
					</div>
				</div>
				<!-- END Page Header -->
				<div class="content" ng-cloak>
					<div ng-repeat="project in projects">
						<h2 class="content-heading">{{project.name}}</h2>
							<div class="content bg-gray-lighter border-b" ng-cloak>
								<div class="row">
								<div ng-hide="project.dashboards.length">
									<h2 class="h5 font-w300">No Dashboards<br><br></h2>
								</div>
									<div ng-repeat="dashboard in project.dashboards">
										<div class="col-lg-4">
								<div class="block block-themed block-bordered">
									<div class="block-header bg-info">
										<ul class="block-options">
											<li>
												<button type="button" ui-sref="projectdashboard({projectId: {{dashboard.project_id}}, dashboardId: {{dashboard.id}}})"><a><i class="si si-share-alt text-white"></i></a></button> 
											</li>
											<li>
												<button type="button" data-toggle="modal" data-target="#modal-edit-dashboard"><i class="si si-settings text-white-op"></i></button>
											</li>
											<li>
												<button type="button" data-toggle="modal" data-target="#modal-edit-dashboard"><i class="si si-close text-white-op"></i></button>
											</li>

										</ul>
										<h3 class="block-title">{{dashboard.name}}</h3>
									</div>
									<div class="block-content border-t">
										<div class="row items-push text-center">
											<div class="col-xs-6 border-r">
												<div class="push-5"><i class="fa fa-tachometer fa-2x"></i></div>
												<div class="h5 font-w300 text-muted"><span ng-bind="{{dashboard.widgetcount}}"></span> Widgets</div>
											</div>
											<div class="col-xs-6">
												<div class="push-5"><i class="fa fa-line-chart fa-2x"></i></div>
												<div class="h5 font-w300 text-muted"><span ng-bind="{{dashboard.chartcount}}"></span> Charts</div>
											</div>
										</div>
									</div>
								</div>
							</div>
										
									</div>
								</div>
							</div>


					</div>
				</div>
			
				</div>
				<!-- END Page Content -->
			</main>
			<!-- END Main Container -->
			<!-- END Footer -->
		</div>
		<!-- END Page Container -->
		<!-- Apps Modal -->
		<div dashboard-modal></div>
		<div editdashboard-modal></div>
		<!-- END Fade In Modal -->
	</body>
