<div class="modal fade" id="modal-organization-delete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form class="js-validation-material form-horizontal push-10-t" name="form" ng-submit="deleteOrganization(true, location)" role="form">
                <div class="block block-themed block-transparent remove-margin-b">
                    <div class="block-header bg-danger">
                        <ul class="block-options">
                            <li>
                                <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                            </li>
                        </ul>
                        <h3 class="block-title" ng-bind="organization.name"></h3>
                    </div>

                    <div class="block-content">
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material">
                                    <span class="form-control" ng-bind="organization.name"></span>
                                    <label for="val-organizationname">Organization Name</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material">
                                    <span class="form-control" type="text" id="val-phone" name="val-phone" placeholder="212-999-0000" ng-bind="organization.phone"></span>
                                    <label for="val-phone">Phone</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material">
                                    <span class="form-control" type="text" id="val-address" name="val-address" placeholder="Enter address" ng-bind="organization.address"></span>
                                    <label for="val-address">Address</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material">
                                    <span class="form-control" type="text" id="val-address2" name="val-address2" placeholder="Enter address" ng-bind="organization.address2"></span>
                                    <label for="val-address2">Address 2</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="form-material">
                                    <span class="form-control" id="val-notes" name="val-notes" rows="3" placeholder="Notes from this organization" ng-bind="organization.notes"></span>
                                    <label for="val-suggestions2">Notes</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <label class="css-input css-input-disabled switch switch-sm switch-primary">
                                    <input type="checkbox" ng-checked="organization.active === 1 ? true : false" id="val-activate" name="val-activate" ng-bind="organization.active" ng-disabled="true"><span></span> Active
                                </label>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
                    <button class="btn btn-sm btn-danger" ng-really-message="Are you sure?" type="submit" >Yes, Delete</button>
                    <!--ng-disabled="true"-->
                </div>

            </form>
        </div>
    </div>
</div>