<div class="modal fade" id="modal-space-add" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<form class="js-validation-material form-horizontal push-10-t" name="form" ng-submit="createSpace()" role="form">
				<input type="hidden" name="val-organization_id" ng-model="space.organization_id">
				<input type="hidden" name="val-project_id" ng-model="space.project_id">
				<div class="block block-themed block-transparent remove-margin-b">
					<div class="block-header bg-info">
						<ul class="block-options">
							<li>
								<button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
							</li>
						</ul>
						<h3 class="block-title"><i class="si si-frame"></i> Add Space</h3>
					</div>
					<div class="block-content">
						<div class="form-group">
							<div class="col-sm-12">
								<div class="form-material form-material-primary ">
									<input  class="form-control" type="text" id="val-name" name="val-name" ng-model="name" />
									<label for="val-name">Name</label>
								</div>
							</div>
						</div>	
						<div class="form-group">
							<div class="col-sm-12">
								<div class="form-material">
									<select class="form-control" id="material-select" name="material-select" size="1" ng-model="icon_image">
										<option value="default.png">Default</option>
										<option value="bedroom.png">Bedroom</option>
										<option value="living.png">Living</option>
										<option value="bathroom.png">Bathroom</option>
										<option value="garage.png">Garage</option>
										<option value="patio.png">Patio</option>
										<option value="house.png">House</option>
									</select>
									<label for="material-select">Space Icon</label>
								</div>
							</div>
						</div>

					</div>

				</div>
				<div class="modal-footer">
					<button class="btn btn-sm btn-primary" type="submit">Save</button><button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
				</div>

			</form>
		</div>
	</div>
</div>
